.title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.site-logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}
